<head>
    <link rel="stylesheet" href="/public/css/dashboard.css">
</head>
<center><h1><b>MEMBROS</b></h1></center>
<br>
<button class="btn-ver-mais" style="margin-left: 20px;">
    <a style="color: white; text-decoration:none;" href="/create/bandit">Cadastrar+</a>
</button>
<br>
<div class="cards-container">
    {{#each bandits}}
        <div class="card">
            <img src="/public/img/bandits/{{this.imagem}}" class="rounded-circle" alt="Foto do Funcionário">
            <div class="card-body">
                <h3 class="card-title">{{this.vulgo}}</h3>
                <p class="card-text">{{this.cargo}}</p>
                <a href="/ecrime/{{this.key}}" class="btn-ver-mais">Ver E-Crime</a>
            </div>
        </div>
    {{/each}}
</div>