<head>
    <link rel="stylesheet" href="/public/css/dashboard.css">
</head>
<center><h1><b>MEMBROS</b></h1></center>
<br>
<button class="btn-ver-mais"><a style="color: white; text-decoration:none" href="/adicionar">Cadastrar+</a></button>
<br>
<div class="cards-container">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="rounded-circle" alt="Foto do Funcionário">
            <div class="card-body">
                <h3 class="card-title">Nome do Funcionário 1</h3>
                <p class="card-text">Vulgo: Desenvolvedor de Software</p>
                <a href="#" class="btn-ver-mais">Ver Perfil</a>
            </div>
        </div>

        <div class="card">
            <img src="https://via.placeholder.com/150" class="rounded-circle" alt="Foto do Funcionário">
            <div class="card-body">
                <h3 class="card-title">Nome do Funcionário 2</h3>
                <p class="card-text">Vulgo: Analista de Dados</p>
                <a href="#" class="btn-ver-mais">Ver Perfil</a>
            </div>
        </div>

        <div class="card">
            <img src="https://via.placeholder.com/150" class="rounded-circle" alt="Foto do Funcionário">
            <div class="card-body">
                <h3 class="card-title">Nome do Funcionário 3</h3>
                <p class="card-text">Vulgo: Designer Gráfico</p>
                <a href="#" class="btn-ver-mais">Ver Perfil</a>
            </div>
        </div>

        <div class="card">
            <img src="https://via.placeholder.com/150" class="rounded-circle" alt="Foto do Funcionário">
            <div class="card-body">
                <h3 class="card-title">Nome do Funcionário 4</h3>
                <p class="card-text">Vulgo: Gerente de Projetos</p>
                <a href="#" class="btn-ver-mais">Ver Perfil</a>
            </div>
        </div>

        <div class="card">
            <img src="https://via.placeholder.com/150" class="rounded-circle" alt="Foto do Funcionário">
            <div class="card-body">
                <h3 class="card-title">Nome do Funcionário 5</h3>
                <p class="card-text">Vulgo: Analista de Marketing</p>
                <a href="#" class="btn-ver-mais">Ver Perfil</a>
            </div>
        </div>

        <div class="card">
            <img src="https://via.placeholder.com/150" class="rounded-circle" alt="Foto do Funcionário">
            <div class="card-body">
                <h3 class="card-title">Nome do Funcionário 6</h3>
                <p class="card-text">Vulgo: Analista Financeiro</p>
                <a href="#" class="btn-ver-mais">Ver Perfil</a>
            </div>
        </div>
    </div>