<head>
    <link rel="stylesheet" href="/public/css/dashboard.css">

    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<div class="d-flex align-items-center justify-content-center h-100">
    <div class="card w-100" style="max-width: 90%; height: 50%;">
        <div class="row no-gutters h-100">
            <div class="col-md-4 d-flex align-items-center justify-content-center bg-primary text-white">
                <img src="https://via.placeholder.com/150" class="rounded-circle" alt="Foto do Funcionário">
            </div>
            <div class="col-md-8">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h3 class="card-title">Nome do Funcionário</h3>
                    <p class="card-text">Cargo: Desenvolvedor de Software</p>
                    <p class="card-text">Departamento: Tecnologia da Informação</p>
                    <p class="card-text">ID: 123456</p>
                    <p class="card-text"><small class="text-muted">Empresa XYZ</small></p>
                </div>
            </div>
        </div>
    </div>
</div>