
<head>
     <link rel="stylesheet" href="/public/css/adicionar.css">
</head>


<form class="editar" action="/edit/bandit" method="POST">
<h1 class="top-text">Editar Bandido</h1>

    <div class="img">
        <img src="https://via.placeholder.com/150" alt="Imagem do Bandido" id="bandido-imagem">
    </div>
    
    <div class="mb-3 text-start">
        <label class="form-label">Imagem</label>
        <select class="form-control" id="imagem" name="imagem" required>
          <option value="" selected>-- Selecione --</option>
          <option value="bambu.png">Bambu</option>
          <option value="doca.png">Doca</option>
          <option value="jiló.png">Jiló</option>
          <option value="johnbravo.png">John Bravo</option>
          <option value="léoempada.png">Léo Empada</option>
          <option value="limão.png">Limão</option>
          <option value="macumba.png">Macumba</option>
          <option value="menorcheru.png">Menor Cheru</option>
          <option value="paulinho.png">Paulinho</option>
          <option value="pitbul.png">Pitbul</option>
        </select>
    </div>

    <div class="mb-3 text-start">
        <label class="form-label">Vulgo:</label>
        <input type="text" name="vulgo" class="form-control" required id="vulgo" value="">
    </div>
    <div class="mb-3 text-start">
            <label class="form-label">Facção:</label>
            <input type="text" name="faccao" class="form-control" required id="faccao" value="">
    </div>

    <div class="mb-3 text-start">
            <label class="form-label">Cargo:</label>
            <input type="text" name="cargo" class="form-control" required id="cargo" value="">
    </div>

    <div class="mb-3 text-start">
            <label class="form-label">Nível de procurado:</label>
            <input type="text" name="nivel_procurado" class="form-control" required id="nivel_procurado" value="">
    </div>

    <div class="mb-3 text-start">
            <label class="form-label">Quebrada:</label>
            <input type="text" name="quebrada" class="form-control" required id="quebrada" value="">
    </div>

    <div class="mb-3 text-start">
            <label class="form-label">Artigo Enquadrado:</label>
            <input type="number" name="artigo" class="form-control" required id="artigo" value="">
    </div>

    <div class="mb-3 text-start">
        <button type="submit" class="btn btn-primary">Editar</button>
    </div>
</form>

<script src="/public/js/bandits.js"></script>