<head>
    <link rel="stylesheet" href="/public/css/home.css">
</head>

  <div class="containerr">
        <h1>Bem-vindo ao Sistema de Cadastro de Presos</h1>
        <p>Este sistema foi desenvolvido para gerenciar o cadastro de presos, facilitando a organização e visualização de informações essenciais sobre os detentos.</p>
        <h2>Objetivo do Sistema</h2>
        <p>O objetivo principal do sistema é fornecer uma plataforma centralizada onde é possível:</p>
        <ul>
            <li>Cadastrar novos presos com detalhes completos, incluindo imagem, vulgo, facção, cargo, uso de drogas, nível de procurado e quebrada.</li>
            <li>Visualizar uma lista dos presos cadastrados com suas imagens e vulgos.</li>
            <li>Acessar informações detalhadas de cada preso individualmente.</li>
            <li>Editar e excluir os dados dos presos conforme necessário.</li>
        </ul>
        <h2>Como Usar</h2>
        <p>Para começar, você pode usar os links abaixo:</p>
        <ul>
            <li><a href="index.html">Ver Lista de Presos</a></li>
            <li><a href="cadastro.html">Cadastrar Novo Preso</a></li>
        </ul>
    </div>